@media (max-width: 1220px) {
  body {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 35%,
      rgba(56, 0, 0, 1) 100%
    );
  }

  .background-video {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .container .logo-freddy {
    max-width: 50%;
  }

  .container .informations {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .container .informations #more-info {
    padding: 0 30px 30px;
  }

  .image-freddy {
    display: none;
  }

  .container .button-trailer {
    background-color: #263238;
  }
}

@media (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .container .image-title {
    max-width: 75%;
  }

  .fechar-modal {
    width: 30px;
    line-height: 30px;
  }

  .modal #video {
    height: 169px;
    width: 300px;
  }
}

@media (max-width: 376px) {
  .modal #video {
    width: 250px;
    height: 140px;
  }

  .container .informations #more-info {
    padding: 0px;
  }
}
